@{
    Layout = null;
}
@*@using JohnConnor.Data;*@
@model LCW.Framework.Common.NHibernate.CriterionRequest<LCW.RBAC.Entities.SysUser>
<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>


<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="@Model.CurrentPage" />
	<input type="hidden" name="numPerPage" value="@Model.PageSize" />
	<input type="hidden" name="orderField" value="@ViewData["orderby"]" />
	<input type="hidden" name="orderDirection" value="@ViewData["direction"]" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/Account/Index" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>我的客户：</label>
				<input type="text" name="keywords" value="@ViewData["keyword"]" />
			</li>
			<li>
			<select class="combox" name="province">
				<option value="">所有省市</option>
				<option value="北京">北京</option>
				<option value="上海">上海</option>
				<option value="天津">天津</option>
				<option value="重庆">重庆</option>
				<option value="广东">广东</option>
			</select>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/Account/AccountDetail" target="dialog" mask="true" rel="account_add" width="700"><span>添加</span></a></li>			
			<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="/Account/AccountRemove" class="delete"><span>批量删除逗号分隔</span></a></li>
			<li><a class="edit" href="/Account/AccountDetail?id={sid_user}" target="navTab" warn="请选择一个用户"><span>修改</span></a></li>
			<li class="line">line</li>
			<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
		</ul>
	</div>
	<table class="table" width="1200" layoutH="138">
		
        <thead>
			<tr>
            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th orderField="UserId" class="@{@(ViewData["orderby"].ToString() == "UserId" ? ViewData["direction"]:"asc");}">客户号</th>
				<th orderField="LoginName" class="@{@(ViewData["orderby"].ToString() == "LoginName" ? ViewData["direction"]:"asc");}">客户名称</th>
				<th>真实名</th>
                <th>状态</th>
                <th orderField="SysUserDetail.Sex" class="@{@(ViewData["orderby"].ToString() == "SysUserDetail.Sex" ? ViewData["direction"] : "asc");}">性别</th>
                <th>用户类型</th>
                <th>部门</th>
                <th>职位</th>
                <th>建档日期</th>               
                <th width="70">操作</th>			
			</tr>
		</thead>
		<tbody>
			@{
                IEnumerable<LCW.RBAC.Entities.SysUser> datalist = Model.DataList;
                if(datalist!=null)
                {
                    foreach(var user in datalist)
                    {
                        <tr target="sid_user" rel="@user.UserId" >
                            <td><input name="ids" value=@user.UserId type="checkbox"></td>
                            <td>@user.UserId</td>
				            <td>@user.LoginName</td>
                            <td>@user.SysUserDetail.EName</td>
                            <td>@user.Status</td>
                            <td>@(user.SysUserDetail.Sex==0?"女":"男")</td>
                            <td>@user.SysUserDetail.Type</td>
                            <td>@(user.SysUserDetail.SysDepartment==null?"":user.SysUserDetail.SysDepartment.DepartmentName)</td>
                            <td>@(user.SysUserDetail.SysPosition==null?"":user.SysUserDetail.SysPosition.PositionName)</td>
                            <td>@user.SysUserDetail.CreateDate.ToString("yyyy-MM-dd")</td>				            
                            <td>
					            <a title="删除" target="ajaxTodo" href="/Account/AccountRemove?ids=@user.UserId" class="btnDel">删除</a>
					            <a title="编辑" target="dialog" mask="true" href="/Account/AccountDetail?id=@user.UserId" class="btnEdit" rel="d_editaccount">编辑</a>
				            </td>				            
        			    </tr>
                    }
                }
			}
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
            @{
                int[] list={2,10,20,50,100,200};
                foreach (var i in list)
                {
                   @Html.Raw(string.Format("<option value={0} {1}>{0}</option>",i,(i==Model.PageSize)?"selected='selected'":""));
                }
            }
			</select>
			<span>条，共 @Model.Totals 条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount=@Model.Totals numPerPage=@Model.PageSize pageNumShown="10" currentPage=@Model.CurrentPage></div>

	</div>
</div>

</body>
</html>
